parameters:
	level: 6
	paths:
		- app
	excludePaths:
		- vendor
	ignoreErrors:
		- '#Method [a-zA-Z0-9\\_]+::[a-zA-Z0-9\\_]+\(\) has parameter \$[a-zA-Z0-9\\_]+ with no value type specified in iterable type array.#'
